Flask==1.1.2
flask-apispec==0.11.0
Flask-HTTPAuth==4.2.0
flask-marshmallow==0.14.0
flask-mongoengine==1.0.0
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-RESTful==0.3.8
flask-restplus==0.13.0
gunicorn==20.0.4
Jinja2==2.11.3
marshmallow==3.11.0
marshmallow-mongoengine==0.30.2
marshmallow-sqlalchemy==0.24.2
MongoAlchemy==0.19
mongoengine==0.23.0
mongomock==3.22.1
psycopg2==2.8.6
pytest==6.2.4
PyYAML==5.4.1
requests==2.25.1
spotipy==2.17.1
SQLAlchemy==1.4.0
telegram==0.0.1
urllib3==1.26.3
webargs==8.0.0
Werkzeug==0.16.1
yandex-music==1.0.0
